.form {
  padding: 24px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 8px 0 0 hsla(0, 0%, 0%, .15);
}
.form__wrapper {
  position: relative;
  margin-bottom: 16px;
}
.form__wrapper.warning {
  margin-bottom: 42px;
}
.form__input {
  width: 100%;
  padding: 20px 18px 16.748px;
  font-weight: 600;
  font-size: .9rem;
  color: var(--clr-dark-blue);
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 87%);
  border-radius: 5px;
  caret-color: var(--clr-blue);
}
.form__input:focus {
  outline: 0;
  border: 1px solid var(--clr-blue);
}
.form__input.warning {
  padding: 20px 52px 16.748px 18px;
  color: var(--clr-red);
  border: 2px solid var(--clr-red);
}
.form__iconWarning {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: none;
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.form__iconWarning.warning {
  display: block;
}
.form__warningMessage {
  position: absolute;
  bottom: -22px;
  right: 2px;
  z-index: 2;
  display: none;
  font-size: .6632rem;
  font-style: italic;
  color: var(--clr-red);
}
.form__warningMessage.warning {
  display: block;
}
.form__button {
  margin-bottom: 9px;
  width: 100%;
  padding: 19px 44px 17.82px;
  letter-spacing: .02em;
  text-align: left;
  text-transform: uppercase;
  background-color: var(--clr-green);
  border-radius: 5px;
  box-shadow: inset 0 -4px 0 0 hsla(0, 0%, 0%, .1);
  cursor: pointer;
  transition: background-color .1s;
}
.form__button:hover {
  background-color: hsl(154, 59%, 68%);
}
.form__button:active {
  background-color: hsl(154, 59%, 75%);
}
.form__button.disabled {
  cursor: not-allowed;
}
.form__button.disabled:hover {
  background-color: var(--clr-green);
}
.form__text {
  margin-left: 17px;
  margin-right: 17px;
  font-size: .65rem;
  font-weight: 400;
  letter-spacing: .03em;
  line-height: 2;
  color: var(--clr-grayish-blue);
  text-align: center;
}
.form__link {
  font-weight: 700;
  color: var(--clr-red);
  text-decoration: none;
}
.form__link:hover {
  text-decoration: underline;
}
.form__link:active {
  color: hsl(0, 100%, 84%);
}
